<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Recipe Header -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <!-- Collapsible Button -->
        <button class="navbar-toggler"
            type="button" 
            aria-controls="navbarContent"
            [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation"
            (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar menu items -->
        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav">
                <li><a class="nav-link" (click)="pageRouter('recipe')" href="#">Recipes</a></li>
                <li><a class="nav-link" (click)="pageRouter('shopping-list')" href="#">Shopping List</a></li>
            </ul>
            <!-- Navbar dropdown -->
            <ul class="navbar-nav ms-auto test1">
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button"> Manage </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu-end">
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Save Data</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Fetch Data</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

